@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1561512314027'); /* IE9 */
  src: url('iconfont.eot?t=1561512314027#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALEAAsAAAAABmgAAAJ2AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAp0gQQBNgIkAwgLBgAEIAWEbQcuG6gFEdWTC2R/KaDHHnNJAWVZXe0St9Ue8SyfGDTa71uq1Bfak40hGhFBPp+IINqP3+y7+6ZSTZphlQQJD90sUSoh/oxnzx7ym7y113ZTmw2/3ke0H6go7uZ9GkgJICMOE7l5mGlwAHwPIADWy/q9jnxA0Vucc6RqVIQayVv06AspDtOcAiBXcAz/uHf6V0CBzAeUyxiD1hjUBdTFgRTQ3tgmK5LIG8YucAnnCdQaNC/2L1KBapk1LRA3QpuD6pxDllm4WqisWZvFK1R18bj48TL8fvxVSKEisbJOr4sKbP9iR6XKIh/hBALaXIGEeWTiUm3gWBKMnNQGslH2lR78Upa+XuxVI9hfZ6XWg37IvSeey7/VcAG31dUIFkfNJ0bu2pW/6dYnnUXmxbyOvis09CFTZbg/7fHzY+Pk7Ofnt8sDWH/e+YIFLG/nx0jVcjX9ftZ3GCjsRh1iRT+0gfL0Pd0qAsG1D/+qVJPBl/5MJpRn6VZB9V6Nwd/h9WzIusDSFVnl1bYWRs5aVqsWJWxp9XOssuNWIqFaxwhTlYEUkmrjaCbNQ4U661Cp2hbUmnO0uU6be5LINZh1H0Bo9gYKjc4hafYRzaQfUKHTf6jUHECtK+GedSbDCuJIKBkNqD8EvS7WMbCI0m/o3pOkrCCkvJBycMPQ9sXwFRekORbkjxuZLVhaZ7iAy3CaVthojai59czboets3Ztavc6FKI6EktGA+kPQ62L99ixKn7+he0+SWupqzC+kHHqHoe17oFfp0qvuXq7JHzcyW7C0znABo3CaVtjqR0XU3PoRvu3Q2c1sX2m7vnz+uh1QW1iqorTzkyazpKIAAAAA') format('woff2'),
  url('iconfont.woff?t=1561512314027') format('woff'),
  url('iconfont.ttf?t=1561512314027') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1561512314027#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
  content: "\e82b";
}

